@layer components {

	[data-scope="field"][data-part="root"],
	[data-scope="fieldset"][data-part="root"] {
		@apply relative flex flex-col gap-1;
	}

	[data-scope="field"][data-part="label"],
	[data-scope="fieldset"][data-part="legend"] {
		@apply flex items-center gap-2 text-sm leading-none font-medium select-none peer-disabled:pointer-events-none peer-disabled:opacity-50 mb-px;

		&:has(>*:disabled),
		&:has(+*:disabled),
		&:has(+*>*:disabled),
		&[aria-disabled="true"] {
			@apply opacity-50 pointer-events-none;
		}
	}

	[data-scope="field"][data-part="helper-text"],
	[data-scope="fieldset"][data-part="helper-text"] {
		@apply text-xs text-muted-foreground dark:text-muted-foreground;

		&[aria-disabled="true"] {
			@apply opacity-50 pointer-events-none;
		}
	}

	[data-scope="field"][data-part="error-text"],
	[data-scope="fieldset"][data-part="error-text"] {
		@apply text-xs text-destructive;

		&[aria-disabled="true"] {
			@apply opacity-50 pointer-events-none;
		}
	}
}
