@layer components {
	[data-scope="slider"][data-part="root"] {
		@apply w-full data-disabled:opacity-50;
	}

	[data-scope="slider"][data-part="root"][data-orientation="vertical"] {
		height: 240px;
	}

	[data-scope="slider"][data-part="control"] {
		@apply relative flex items-center justify-center data-[orientation=horizontal]:h-(--slider-thumb-size) data-[orientation=vertical]:w-(--slider-thumb-size) data-[with-value=true]:mt-(--slider-thumb-size);
		--slider-thumb-size: 20px;
		--slider-track-height: 4px;
	}

	[data-scope="slider"][data-part="control"][data-orientation="horizontal"] {
		@apply h-(--slider-thumb-size);
	}

	[data-scope="slider"][data-part="control"][data-orientation="vertical"] {
		@apply w-(--slider-thumb-size);
	}

	[data-scope="slider"][data-part="thumb"] {
		@apply block shrink-0 ring-ring/50 size-(--slider-thumb-size) rounded-full bg-background border border-primary shadow-sm hover:ring-4 transition-colors focus-visible:ring-4 focus-visible:outline-hidden disabled:pointer-events-none disabled:opacity-50 z-100;
	}

	[data-scope="slider"][data-part="track"] {
		@apply bg-muted relative grow overflow-hidden rounded-full data-[orientation=horizontal]:h-(--slider-track-height) data-[orientation=horizontal]:w-full data-[orientation=vertical]:h-full data-[orientation=vertical]:w-(--slider-track-height);
	}

	[data-scope="slider"][data-part="range"] {
		@apply bg-primary absolute data-[orientation=horizontal]:h-full data-[orientation=vertical]:w-full;
	}

	[data-scope="slider"][data-part="value-text"] {
		@apply absolute text-sm text-foreground w-(--slider-thumb-size) flex justify-center items-center;
		top: calc(-1 * var(--slider-thumb-size) - var(--slider-track-height));
	}

	[data-scope="slider"][data-part="marker-group"][data-with-dashes="true"] {
		[data-scope="slider"][data-part="marker"] {
			&::before {
				@apply content-[''] w-px h-2 text-muted-foreground absolute -top-3.5 left-1/2 -translate-x-1/2 bg-primary;
			}
		}
	}

	[data-scope="slider"][data-part="marker"] {
		@apply text-sm text-muted-foreground data-[state=under-value]:text-foreground data-[state=at-value]:text-foreground;
	}
}
