@layer components {

	[data-scope="date-input"][data-part="trigger"] {
		@apply ps-3 pe-3 w-fit flex items-center relative bg-transparent dark:bg-input/30 border border-input rounded-md aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive focus-within:border-ring focus-within:ring-ring/50 focus-within:ring-[3px] disabled:cursor-not-allowed transition-colors h-9 text-left data-[placeholder=true]:text-muted-foreground hover:bg-accent hover:text-accent-foreground dark:hover:bg-input/50 text-sm data-with-start-section:ps-9 data-with-end-section:pe-9;
	}

	[data-scope="date-input"][data-part="start-section"],
	[data-scope="date-input"][data-part="end-section"] {
		@apply absolute text-muted-foreground pointer-events-none flex justify-center items-center h-9 w-9;
	}

	[data-scope="date-input"][data-part="end-section"] {
		@apply end-0;
	}

	[data-scope="date-input"][data-part="control"] {
		@apply w-fit relative;
	}

	[data-scope="date-input"][data-part="content"] {
		@apply min-w-64 p-3 border rounded-md bg-popover text-popover-foreground flex flex-col gap-3;
	}

	[data-scope="date-input"][data-part="view-control"] {
		@apply flex justify-between items-center;
	}

	[data-scope="date-input"][data-part="table"] {
		@apply w-full;
	}

	[data-scope="date-input"][data-part="prev-trigger"],
	[data-scope="date-input"][data-part="next-trigger"] {
		@apply inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50 has-[>svg]:px-3 aria-disabled:opacity-50 p-0 select-none size-8;
	}

	[data-scope="date-input"][data-part="table-head"], 
	[data-scope="date-input"][data-part="table-row"] {
		@apply w-full flex mt-1;
	}

	[data-scope="date-input"][data-part="table-header"] {
		@apply text-muted-foreground rounded-md flex-1 font-normal text-[0.8rem] select-none;
	}

	[data-scope="date-input"][data-part="table-cell"] {
		@apply min-w-8 relative w-full h-full p-0 text-center aspect-square select-none aria-selected:bg-accent [&:first-child[aria-selected=true]]:rounded-l-md [&:last-child[aria-selected=true]]:rounded-r-md;
	}

	[data-scope="date-input"][data-part="table-cell-trigger"] {
		@apply items-center justify-center whitespace-nowrap rounded-md text-sm transition-all [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50 group-data-[focused=true]/day:border-ring group-data-[focused=true]/day:ring-ring/50 dark:hover:text-accent-foreground flex aspect-square size-auto w-full flex-col gap-1 leading-none font-normal group-data-[focused=true]/day:relative group-data-[focused=true]/day:z-10 group-data-[focused=true]/day:ring-[3px] [&>span]:text-xs [&>span]:opacity-70;

		&[data-focus] {
			@apply border-ring ring-ring/50 ring-[3px];
		}

		&[data-disabled] {
			@apply pointer-events-none opacity-50;
		}

		&[data-unavailable] {
			@apply text-sm;
		}

		&[data-today] {
			@apply bg-accent text-accent-foreground rounded-md data-[selected=true]:rounded-none;
		}

		&[data-weekend] {
			@apply text-sm;
		}

		&[data-outside-range] {
			@apply text-muted-foreground;
		}

		&[data-in-range] {
			@apply bg-accent text-accent-foreground;
		}

		&[data-range-start] {
			@apply rounded-md;
		}

		&[data-range-end] {
			@apply rounded-md;
		}

		&[data-selected] {
			@apply bg-primary text-primary-foreground;
		}
	}

	[data-scope="date-input"][data-part="months-container"] {
		@apply flex gap-8;
	}
}