name: Quality

on:
  push:
    branches:
      - '**'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6

#      - name: Cache turbo build setup
#        uses: actions/cache@v4
#        with:
#          path: .turbo
#          key: ${{ runner.os }}-turbo-${{ github.sha }}
#          restore-keys: |
#            ${{ runner.os }}-turbo-

      - name: Install
        uses: ./.github/actions/install

      - name: Build packages
        run: bun run build

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6

      - name: Install
        uses: ./.github/actions/install

      - name: Build packages
        run: bun run build

      - name: Run tests
        run: bun run test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6

      - name: Install
        uses: ./.github/actions/install

      - name: Run lint
        run: bun run lint

  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6

      - name: Install
        uses: ./.github/actions/install

      - name: Run typecheck
        run: bun run typecheck
